In [25]:
import pandas as pd
import tensorflow as tf

In [26]:
csv_file = tf.keras.utils.get_file('heart.csv',  'https://storage.googleapis.com/applied-dl/heart.csv')

In [27]:
csv_file

'/home/kitamura/.keras/datasets/heart.csv'

In [28]:
df = pd.read_csv(csv_file)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [29]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [30]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [31]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [32]:
target = df.pop('target')
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

for feat, targ in dataset.take(5):
    print('Featrues : {}, Target : {}'.format(feat, targ))

Featrues : [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target : 0
Featrues : [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target : 1
Featrues : [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target : 0
Featrues : [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target : 0
Featrues : [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target : 0

In [33]:
type(df['thal'])

pandas.core.series.Series

In [14]:
tf.constant(df['thal'])

<tf.Tensor: id=21, shape=(303,), dtype=int32, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4], dtype=int32)>

In [15]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [35]:
for td in train_dataset.take(1):
    print(td)

(<tf.Tensor: id=16493, shape=(1, 13), dtype=float64, numpy=
array([[ 46.,   1.,   2., 101., 197.,   1.,   0., 156.,   0.,   0.,   1.,
          0.,   4.]])>, <tf.Tensor: id=16494, shape=(1,), dtype=int64, numpy=array([0])>)

In [18]:
def get_compiled_model():
    model = tf.keras.Sequential([
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(10, activation='relu'),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ])
    model.compile(optimizer='adam',
                  loss='binary_crossentropy',
                  metrics=['accuracy'])
    return model

In [19]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

WARNING:tensorflow:Layer sequential_1 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 1/15
303/303 [==============================] - 1s 4ms/step - loss: 1.5392 - accuracy: 0.6073
Epoch 2/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6660 - accuracy: 0.6997
Epoch 3/15
303/303 [==============================] - 1s 2ms/step - loss: 0.6343 - accuracy: 0.7195
Epoch 4/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5893 - accuracy: 0.7426
Epoch 5/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5875 - accuracy: 0.7162
Epoch 6/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5954 - accuracy: 0.7096
Epoch 7/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5584 - accuracy: 0.7228
Epoch 8/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7558
Epoch 9/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5684 - accuracy: 0.7195
Epoch 10/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7624
Epoch 11/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7426
Epoch 12/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7426
Epoch 13/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5134 - accuracy: 0.7492
Epoch 14/15
303/303 [==============================] - 1s 2ms/step - loss: 0.4993 - accuracy: 0.7723
Epoch 15/15
303/303 [==============================] - 1s 2ms/step - loss: 0.5198 - accuracy: 0.7723

In [21]:
inputs = {key: tf.keras.layers.Input(shape=(), name=key) for key in df.keys()}
x = tf.stack(list(inputs.values()), axis=-1)

x = tf.keras.layers.Dense(10, activation='relu')(x)
output = tf.keras.layers.Dense(1, activation='sigmoid')(x)

model_func = tf.keras.Model(inputs=inputs, outputs=output)
model_func.compile(optimizer='adam', 
                   loss='binary_crossentropy',
                   metrics=['accuracy'])

In [22]:
dict_slices = tf.data.Dataset.from_tensor_slices((df.to_dict('list'), target.values)).batch(16)

In [23]:
for dict_slice in dict_slices.take(1):
    print(dict_slice)

({'age': <tf.Tensor: id=14869, shape=(16,), dtype=int32, numpy=
array([63, 67, 67, 37, 41, 56, 62, 57, 63, 53, 57, 56, 56, 44, 52, 57],
      dtype=int32)>, 'sex': <tf.Tensor: id=14877, shape=(16,), dtype=int32, numpy=array([1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1], dtype=int32)>, 'cp': <tf.Tensor: id=14872, shape=(16,), dtype=int32, numpy=array([1, 4, 4, 3, 2, 2, 4, 4, 4, 4, 4, 2, 3, 2, 3, 3], dtype=int32)>, 'trestbps': <tf.Tensor: id=14881, shape=(16,), dtype=int32, numpy=
array([145, 160, 120, 130, 130, 120, 140, 120, 130, 140, 140, 140, 130,
       120, 172, 150], dtype=int32)>, 'chol': <tf.Tensor: id=14871, shape=(16,), dtype=int32, numpy=
array([233, 286, 229, 250, 204, 236, 268, 354, 254, 203, 192, 294, 256,
       263, 199, 168], dtype=int32)>, 'fbs': <tf.Tensor: id=14874, shape=(16,), dtype=int32, numpy=array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0], dtype=int32)>, 'restecg': <tf.Tensor: id=14876, shape=(16,), dtype=int32, numpy=array([2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 0], dtype=int32)>, 'thalach': <tf.Tensor: id=14880, shape=(16,), dtype=int32, numpy=
array([150, 108, 129, 187, 172, 178, 160, 163, 147, 155, 148, 153, 142,
       173, 162, 174], dtype=int32)>, 'exang': <tf.Tensor: id=14873, shape=(16,), dtype=int32, numpy=array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0], dtype=int32)>, 'oldpeak': <tf.Tensor: id=14875, shape=(16,), dtype=float32, numpy=
array([2.3, 1.5, 2.6, 3.5, 1.4, 0.8, 3.6, 0.6, 1.4, 3.1, 0.4, 1.3, 0.6,
       0. , 0.5, 1.6], dtype=float32)>, 'slope': <tf.Tensor: id=14878, shape=(16,), dtype=int32, numpy=array([3, 2, 2, 3, 1, 1, 3, 1, 2, 3, 2, 2, 2, 1, 1, 1], dtype=int32)>, 'ca': <tf.Tensor: id=14870, shape=(16,), dtype=int32, numpy=array([0, 3, 2, 0, 0, 0, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int32)>, 'thal': <tf.Tensor: id=14879, shape=(16,), dtype=int32, numpy=array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3], dtype=int32)>}, <tf.Tensor: id=14882, shape=(16,), dtype=int64, numpy=array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0])>)

In [24]:
model_func.fit(dict_slices, epochs=15)

Epoch 1/15
19/19 [==============================] - 0s 20ms/step - loss: 46.1047 - accuracy: 0.2739
Epoch 2/15
19/19 [==============================] - 0s 3ms/step - loss: 25.9031 - accuracy: 0.2706
Epoch 3/15
19/19 [==============================] - 0s 4ms/step - loss: 9.9524 - accuracy: 0.2904
Epoch 4/15
19/19 [==============================] - 0s 4ms/step - loss: 6.5425 - accuracy: 0.4950
Epoch 5/15
19/19 [==============================] - 0s 4ms/step - loss: 6.2048 - accuracy: 0.5281
Epoch 6/15
19/19 [==============================] - 0s 3ms/step - loss: 5.8508 - accuracy: 0.4686
Epoch 7/15
19/19 [==============================] - 0s 3ms/step - loss: 5.5901 - accuracy: 0.4587
Epoch 8/15
19/19 [==============================] - 0s 3ms/step - loss: 5.3212 - accuracy: 0.4785
Epoch 9/15
19/19 [==============================] - 0s 3ms/step - loss: 5.0731 - accuracy: 0.4785
Epoch 10/15
19/19 [==============================] - 0s 4ms/step - loss: 4.8289 - accuracy: 0.4818
Epoch 11/15
19/19 [==============================] - 0s 4ms/step - loss: 4.5733 - accuracy: 0.4851
Epoch 12/15
19/19 [==============================] - 0s 4ms/step - loss: 4.3129 - accuracy: 0.4851
Epoch 13/15
19/19 [==============================] - 0s 3ms/step - loss: 4.0467 - accuracy: 0.4884
Epoch 14/15
19/19 [==============================] - 0s 3ms/step - loss: 3.7748 - accuracy: 0.4884
Epoch 15/15
19/19 [==============================] - 0s 4ms/step - loss: 3.5007 - accuracy: 0.4851